/* ========== Experience Section ========== */
.experience {
    width: 80%;
    margin: 100px auto;
    text-align: left;
    color: white;
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.experience-item {
    margin-bottom: 30px;
    border-left: 5px solid #b74b4b; /* Red accent for each item */
    padding-left: 20px;
}

.experience-item h3 {
    font-size: 2rem;
    color: #b74b4b; /* Orange color for job titles */
    margin-bottom: 5px;
}
.experience-item p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #d3d3d3;
}

.time {
    font-size: 1.2rem;
    font-weight: 400;
    color: #aaa;
    margin-bottom: 10px;
}

.description {
    font-size: 1.4rem;
    font-weight: 400;
    color: #d3d3d3;
}


/* 
.experience-item:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
} */
